<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
</head>
<body>
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red; font-weight: 800">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/search/" method="get">
        <input type="text" name="q" />
        <input type="submit" value="Search" />
    </form>
</body>
</html>